.aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 18px;

  a {
    color: rgba(255, 118, 39, 1);
    text-decoration: underline;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 80vh;
    margin: 5vh 0 7.5vh 0;
    color: white;

    .title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 5px;

      &.small {
        font-size: 20px;
      }
    }

    .description {
      display: grid;
      grid-template-columns: 45% 15% 40%;

      .images {
        display: flex;
        flex-direction: column;
        align-items: center;
        .image {
          display: flex;
          flex-direction: column;
          align-items: center;
          &:not(:first-child) {
            margin-top: 15px;
          }
          img {
            border-radius: 15px;
            height: 300px;
          }
        }
      }
    }
  }
}
