.landing {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  color: white;

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(37, 37, 37, 0.9);

    .introduction {
      display: flex;
      align-items: center;
      margin: auto;
      flex-direction: column;
      @media screen and (max-width: 800px) {
        width: 90%;
      }
      width: 60%;

      .heading {
        width: 100%;
        display: flex;
        align-items: center;
        @media screen and (max-width: 800px) {
          flex-direction: column;
        }
        flex-direction: row;
        font-size: 22px;

        .text {
          margin-top: auto;
          display: flex;
          @media screen and (max-width: 800px) {
            align-items: center;
            text-align: center;
          }
          flex-direction: column;
          margin-bottom: 60px;
          height: 45%;

          a {
            text-decoration: none;
            color: rgb(142, 190, 253);
          }

          svg#waving {
            margin-right: 4px;
            fill: white;
            width: 24px;
            height: 24px;
          }
        }

        .socials {
          display: grid;
          grid-template-columns: min-content min-content min-content min-content min-content min-content min-content min-content;
          @media screen and (max-width: 800px) {
            display: flex;
            justify-items: center;
            margin-top: 15px;
          }
          margin-top: 15px;
          gap: 10px;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            border: 1px solid white;
            padding: 10px;
            border-radius: 30px;
            transition: 0.2s;

            &:hover {
              border-radius: 20px;
              background-color: rgba(0, 0, 0, 0.4);
              border-color: rgb(252, 109, 57);

              svg {
                fill: rgb(253, 144, 105);
              }
            }

            svg {
              transition: 0.2s;
              fill: white;
              width: 24px;
              height: 24px;
            }
          }
        }

        .me {
          @media screen and (max-width: 800px) {
            width: 12rem;
            height: 12rem;
          }
          width: 18rem;
          height: 18rem;
          margin: 0 15px 15px 0;

          border-radius: 3rem;
        }
      }

      .buttons {
        display: grid;
        width: 100%;
        grid-template-columns: 18rem 18rem 18rem 18rem;
        @media screen and (max-width: 800px) {
          grid-template-columns: 100%;

          &:last-child {
            margin-bottom: 15px;
          }
        }
        gap: 15px;

        a {
          color: white;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 65px;
          border-radius: 15px;
          background-color: rgba(0, 0, 0, 0.5);
          border: 1px solid rgba(255, 118, 39, 0.5);
          font-size: 21px;
          transition: 0.2s;

          &:hover {
            border: 1px solid rgba(255, 118, 39, 0.65);
            background-color: rgba(0, 0, 0, 0.65);
          }
        }
      }
    }
  }
}
